<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SIT716 Glossary</h1>
    <br/>
    <table>
        <tr>
          <th style="width: 5%;">#</th>
          <th>Term</th>
          <th>Definition/Description</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
      <h2>Style Reference: https://www.w3schools.com/html/html_tables.asp (Accessed 17, 07, 2023)</h2>
  </body>
</html>
